@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
@{
    ViewBag.Title = "About";
}
<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <style>
        body {
            background-repeat: no-repeat;
            background-size: cover;
          
        }
    </style>

</head>
<body >

    <br />
    <div class="row" style="margin-bottom:85px">
        <div class="column-md-2 navbar-left">
            <img src="~/Image/s6.jpg" alt="About A4AAA" height="330" width="650" style="margin-left:25px">

        </div>

        <div style="margin-left:10px" class="col-lg-4 ">
 
            <h3 style="font-family: 'Monotype Corsiva'; margin-left: 10px; color: #1f0d07;"><span class="glyphicon glyphicon-pencil" style=" color: #1f0d07;"></span> About A4AAA</h3>
            <p style="font-size: 20px; font-family: 'Monotype Corsiva'; color: #1f0d07; ">
                "A4AAA" is an online auction web site aimed at taking the auction online for Art Lovers and Antique Collectors. This site also acts
                as an open forum where buyers and sellers can come together and exchange their products. The products may include paintings and antique art collections.
                It opens its all doors to get any of the top art collections all around the globe.
                Briefly, A4AAA provides an environment which enables AUCTION for ANYONE, ANYTIME &amp; ANYWHERE.
            </p>

        </div>


    </div>

</body>
</html>
